<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% tr Automatisk generering af datasæt %}</title>
    <meta name="title" content="{% tr Automatisk generering af datasæt %}">
    <meta name="description"
        content="{% tr Lad AI automatisk generere dine datasæt og let træne/finjustere din næste model til behandling af naturligt sprog på et minut. Datasæt kan genereres på flere sprog. %}">
    <meta name="keywords"
        content="{% tr api til tekstforståelse %},{% tr  api til tekstgenerering %}, nlp {% tr api %}, {% tr inferens api %}, {% tr ai api %}, {% tr api til kunstig intelligens %}, {% tr api til generering af blogindlæg %}, {% tr produktbeskrivelse api %}, {% tr ad generation api %}, {% tr api til genkendelse af navngivne enheder %}, ner {% tr api %}, {% tr api til analyse af følelser %}, {% tr api til analyse af følelser %}, {% tr sammenfatning api %}, {% tr api til tekstklassificering %}, {% tr oversættelse api %}, {% tr api til tekstgenerering %}, {% tr api til rettelse af grammatik og stavning %}, {% tr api til klassificering af hensigter %}, {% tr omskrivning af api %}, {% tr kodegenerering api %}, {% tr chatbot %}, {% tr AI til samtaler %}, {% tr semantisk lighed api %}, {% tr api til sprogdetektion %}, Part-Of-Speech tagging {% tr api %}, {% tr tokenization api %}, l{% tr emmatisering api %}, {% tr indlejringer api %}, {% tr implementere %} nlp {% tr produktion %}, {% tr implementere %} spacy {% tr produktion %}, {% tr implementere %} transformers {% tr produktion %}, {% tr finjustering %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://autodataset.com/">
    <meta property="og:title" content="{% tr Automatisk generering af datasæt %}">
    <meta property="og:description"
        content="{% tr Lad AI automatisk generere dine datasæt og let træne/finjustere din næste model til behandling af naturligt sprog på et minut. Datasæt kan genereres på flere sprog. %}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://autodataset.com/">
    <meta property="twitter:site" content="@cloud_nlp">
    <meta property="twitter:title" content="{% tr Automatisk generering af datasæt %}">
    <meta property="twitter:description"
        content="{% tr Lad AI automatisk generere dine datasæt og let træne/finjustere din næste model til behandling af naturligt sprog på et minut. Datasæt kan genereres på flere sprog. %}">
    <link rel="stylesheet" href="/assets/css/bulma-v0.9.1.min.css">
<link rel="icon" type="image/png" href="/assets/images/favicon.jpg" />

    <style>
        body {
            font-family: Helvetica, sans-serif;
        }
        h1, h2, h3 {
            color: #223901 !important;
        }

    </style>
</head>

<body>
    {{ nav }}
    <section class="hero is-medium" style="
    background-image: url('/assets/images/chinese_letters.png'), url('/assets/images/circuit.png'); 
    background-size: 8%, 8%;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1 is-spaced">
                    {% tr Automatisk generering af datasæt %}
                </h1>
                <div id="title-to-type" style="display:none">
                    <p>{% tr til produktbeskrivelse og annoncegenerering, %}</p>
                    <p>{% tr til udtrækning af enheder, %}</p>
                    <p>{% tr til generering af blogindlæg, %}</p>
                    <p>{% tr til tekstklassificering, %}</p>
                    <p>{% tr til analyse af følelser og følelser, %}</p>
                    <p>{% tr til opsummering af tekster, %}</p>
                    <p>{% tr til besvarelse af spørgsmål, %}</p>
                    <p>{% tr til tekstgenerering, %}</p>
                    <p>{% tr til generering af overskrifter, %}</p>
                    <p>{% tr til chatbots/samtalekunstintensiv AI, %}</p>
                    <p>{% tr til generering af kode, %}</p>
                    <p>{% tr til oversættelse, %}</p>
                    <p>{% tr til sprogregistrering, %}</p>
                    <p>{% tr til grammatik- og stavekorrektion, %}</p>
                    <p>{% tr til klassificering af hensigter, %}</p>
                    <p>{% tr for semantisk lighed, %}</p>
                </div>
                <p id="subtitle" class="subtitle is-3 mt-5">{% tr Lad AI generere dine datasæt, %}<br>
                    <span id="typed-title"></span><br>
                    {% tr på mange sprog. %}<br>
                    {% tr Opret din næste Natural Language Processing-model på ingen tid. %}<br>
            </div>
        </div>
    </section>
    <section>
        <div class="container has-text-centered mb-6 px-3">
            <div class="columns">
                <div class="column">
                    <img src="/assets/images/shipping.svg">
                    <h3 class="title is-5">{% tr Spar tid %}</h3>
                    <p>{% tr Oprettelse af datasæt til behandling af naturlige sprog er langvarig og besværlig. Hold op med at spilde tiden, og lad vores AI generere dem. %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/lightning.svg">
                    <h3 class="title is-5">{% tr Ekstremt nøjagtig %}</h3>
                    <p>{% tr Vores AI er meget god til at skabe nøjagtige datasæt, der passer perfekt til din brugssag (spørgsmålsbesvarelse, opsummering, samtaler og meget mere...) %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/flag.svg">
                    <h3 class="title is-5">{% tr Flersproget %}</h3>
                    <p>{% tr Generer dit datasæt på mere end 20 sprog med en fremragende kvalitet. %}</p>
                </div>
            </div>
            <div class="columns mt-6">
                <div class="column">
                    <img src="/assets/images/scale.svg">
                    <h3 class="title is-5">{% tr Hurtig %}</h3>
                    <p>{% tr Genereringen af datasæt er hurtig. For et menneske ville det være et spørgsmål om uger eller måneder, mens det her er et spørgsmål om minutter eller timer. %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/rocket.svg">
                    <h3 class="title is-5">{% tr Prisbillig prisfastsættelse %}</h3>
                    <p>
                        {% tr Vores priser er rimelige. Denne kedelige opgave behøver ikke længere at blive udført af mennesker %}
                    </p>
                </div>
                <div class="column">
                    <img src="/assets/images/cube.svg">
                    <h3 class="title is-5">{% tr Vurder først %}</h3>
                    <p>
                        {% tr Du kan først vurdere de første eksempler i datasættet og beslutte dig for at betale og downloade det endelige datasæt, når du er overbevist. %}
                    </p>
                </div>
            </div>
        </div>
    </section>

    
    <section class="hero" id="use-case" style="background-color: #f6f5f5;">
        <div class="hero-body">
            <div class="container mt-4 is-size-7-mobile">
                <h3 class="title mb-6 is-5 has-text-centered">{% tr Understøttede brugssituationer %}</h3>
                <table class="table" style="margin-left:auto; margin-right:auto; background:none">
                    <thead>
                        <tr>
                            <th>{% tr Brugssituation %}</th>
                            <th>{% tr Flersproget? %}</th>
                            <th class="see-docs-col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% tr Blog
                                        Post Generation: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Tekstklassificering: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Chatbots/konversationel AI: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Korrektion af grammatik og stavning: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Overskriftsgenerering: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Hensigtsmæssig klassificering: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Udtrækning af nøgleord og nøgleord: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Sprogdetektion: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Genkendelse af navngivne entiteter: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Omskrivning: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Produktbeskrivelse og annoncegenerering: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Besvarelse af spørgsmål: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Semantisk lighed: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Analyse af følelser og emotioner: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Sammenfatning: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Tekstgenerering: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Oversættelse: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                       

                        </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="hero" id="access">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p>
                    {% tr Få tidlig adgang til Auto Dataset ved at sende os en e-mail: %}
                </p>
                <p class=" mt-5"><a class="is-size-2" style="color:#223901"
                    href="mailto:support@autodataset.com">access@autodataset.com</a></p>
                <p class="mt-6"><img width=800px src="/assets/images/ui.png"></p>
        </div>
    </section>

    
    {{ footer }}
    <script src="/assets/js/init-typed.js" async></script>
</body>

</html>