<!DOCTYPE html>
<html lang="lv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% tr Automātiska datu kopas ģenerēšana %}</title>
    <meta name="title" content="{% tr Automātiska datu kopas ģenerēšana %}">
    <meta name="description"
        content="{% tr Ļaujiet mākslīgajam intelektam automātiski ģenerēt datu kopas un minūtes laikā viegli apmācīt/noregulēt nākamo dabiskās valodas apstrādes modeli. Datu kopas var ģenerēt vairākās valodās. %}">
    <meta name="keywords"
        content="{% tr teksta saprašanas API %},{% tr  teksta ģenerēšanas API %}, nlp {% tr api %}, {% tr secinājumu api %}, {% tr ai api %}, {% tr mākslīgā intelekta api %}, {% tr emuāra ierakstu ģenerēšanas api %}, {% tr produkta apraksta api %}, {% tr reklāmas ģenerēšanas API %}, {% tr nosaukto vienību atpazīšanas API %}, ner {% tr api %}, {% tr noskaņojuma analīzes api %}, {% tr emociju analīzes api %}, {% tr apkopošanas api %}, {% tr teksta klasifikācijas API %}, {% tr tulkošanas api %}, {% tr teksta ģenerēšanas API %}, {% tr gramatikas un pareizrakstības labošanas api %}, {% tr nodomu klasifikācijas api %}, {% tr pārfrāzēšanas api %}, {% tr koda ģenerēšanas api %}, {% tr tērzēšanas robots %}, {% tr sarunvalodas mākslīgais intelekts %}, {% tr semantiskās līdzības api %}, {% tr valodas noteikšanas API %}, Part-Of-Speech tagging {% tr api %}, {% tr tokenizācijas API %}, l{% tr ematizācijas API %}, {% tr embeddings api %}, {% tr izvietot %} nlp {% tr ražošana %}, {% tr izvietot %} spacy {% tr ražošana %}, {% tr izvietot %} transformers {% tr ražošana %}, {% tr precīza regulēšana %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://autodataset.com/">
    <meta property="og:title" content="{% tr Automātiska datu kopas ģenerēšana %}">
    <meta property="og:description"
        content="{% tr Ļaujiet mākslīgajam intelektam automātiski ģenerēt datu kopas un minūtes laikā viegli apmācīt/noregulēt nākamo dabiskās valodas apstrādes modeli. Datu kopas var ģenerēt vairākās valodās. %}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://autodataset.com/">
    <meta property="twitter:site" content="@cloud_nlp">
    <meta property="twitter:title" content="{% tr Automātiska datu kopas ģenerēšana %}">
    <meta property="twitter:description"
        content="{% tr Ļaujiet mākslīgajam intelektam automātiski ģenerēt datu kopas un minūtes laikā viegli apmācīt/noregulēt nākamo dabiskās valodas apstrādes modeli. Datu kopas var ģenerēt vairākās valodās. %}">
    <link rel="stylesheet" href="/assets/css/bulma-v0.9.1.min.css">
<link rel="icon" type="image/png" href="/assets/images/favicon.jpg" />

    <style>
        body {
            font-family: Helvetica, sans-serif;
        }
        h1, h2, h3 {
            color: #223901 !important;
        }

    </style>
</head>

<body>
    {{ nav }}
    <section class="hero is-medium" style="
    background-image: url('/assets/images/chinese_letters.png'), url('/assets/images/circuit.png'); 
    background-size: 8%, 8%;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1 is-spaced">
                    {% tr Automātiska datu kopas ģenerēšana %}
                </h1>
                <div id="title-to-type" style="display:none">
                    <p>{% tr produktu aprakstam un reklāmu ģenerēšanai, %}</p>
                    <p>{% tr būtņu ieguvei, %}</p>
                    <p>{% tr emuāra ierakstu ģenerēšanai, %}</p>
                    <p>{% tr teksta klasifikācijai, %}</p>
                    <p>{% tr noskaņojuma un emociju analīzei, %}</p>
                    <p>{% tr teksta apkopošanai, %}</p>
                    <p>{% tr lai atbildētu uz jautājumiem, %}</p>
                    <p>{% tr teksta ģenerēšanai, %}</p>
                    <p>{% tr virsrakstu veidošanai, %}</p>
                    <p>{% tr tērzēšanas robotiem/konversatīvajam mākslīgajam intelektam, %}</p>
                    <p>{% tr koda ģenerēšanai, %}</p>
                    <p>{% tr tulkošanai, %}</p>
                    <p>{% tr valodas noteikšanai, %}</p>
                    <p>{% tr gramatikas un pareizrakstības labošanai, %}</p>
                    <p>{% tr nodomu klasifikācijai, %}</p>
                    <p>{% tr semantisko līdzību, %}</p>
                </div>
                <p id="subtitle" class="subtitle is-3 mt-5">{% tr Ļaujiet mākslīgajam intelektam ģenerēt datu kopas, %}<br>
                    <span id="typed-title"></span><br>
                    {% tr daudzās valodās. %}<br>
                    {% tr Ātri izveidojiet nākamo dabiskās valodas apstrādes modeli. %}<br>
            </div>
        </div>
    </section>
    <section>
        <div class="container has-text-centered mb-6 px-3">
            <div class="columns">
                <div class="column">
                    <img src="/assets/images/shipping.svg">
                    <h3 class="title is-5">{% tr Ietaupiet laiku %}</h3>
                    <p>{% tr Datu kopu izveide dabiskās valodas apstrādei ir ilga un garlaicīga. Beidziet tērēt laiku un ļaujiet mūsu mākslīgajam intelektam tos ģenerēt. %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/lightning.svg">
                    <h3 class="title is-5">{% tr Ļoti precīzs %}</h3>
                    <p>{% tr Mūsu mākslīgais intelekts ļoti labi spēj izveidot precīzas datu kopas, kas lieliski atbilst jūsu lietojumam (atbilžu sniegšana uz jautājumiem, kopsavilkumu veidošana, sarunas un citi...). %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/flag.svg">
                    <h3 class="title is-5">{% tr Daudzvalodu %}</h3>
                    <p>{% tr Izveidojiet datu kopu vairāk nekā 20 valodās ar izcilu kvalitāti. %}</p>
                </div>
            </div>
            <div class="columns mt-6">
                <div class="column">
                    <img src="/assets/images/scale.svg">
                    <h3 class="title is-5">{% tr Fast %}</h3>
                    <p>{% tr Datu kopas ģenerēšana notiek ātri. Cilvēkam tas būtu nedēļu vai mēnešu jautājums, bet šeit tas ir dažu minūšu vai stundu jautājums. %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/rocket.svg">
                    <h3 class="title is-5">{% tr Pieejamas cenas %}</h3>
                    <p>
                        {% tr Mūsu cenas ir godīgas. Šis garlaicīgais uzdevums vairs nav jāveic cilvēkiem. %}
                    </p>
                </div>
                <div class="column">
                    <img src="/assets/images/cube.svg">
                    <h3 class="title is-5">{% tr Vispirms novērtējiet %}</h3>
                    <p>
                        {% tr Vispirms varat novērtēt pirmos datu kopas piemērus un pēc tam, kad esat pārliecināts par to, ka datu kopa ir pilnvērtīga, varat nolemt samaksāt un lejupielādēt galīgo datu kopu. %}
                    </p>
                </div>
            </div>
        </div>
    </section>

    
    <section class="hero" id="use-case" style="background-color: #f6f5f5;">
        <div class="hero-body">
            <div class="container mt-4 is-size-7-mobile">
                <h3 class="title mb-6 is-5 has-text-centered">{% tr Atbalstītie lietošanas gadījumi %}</h3>
                <table class="table" style="margin-left:auto; margin-right:auto; background:none">
                    <thead>
                        <tr>
                            <th>{% tr Lietošanas gadījums %}</th>
                            <th>{% tr Daudzvalodība? %}</th>
                            <th class="see-docs-col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% tr Blogs
                                        Pasta paaudze: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Teksta klasifikācija: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Tērzēšanas roboti / sarunvalodas mākslīgais intelekts: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Gramatikas un pareizrakstības labošana: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Virsrakstu ģenerēšana: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Nodomu klasifikācija: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Atslēgvārdu un atslēgfrāžu ieguve: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Valodas noteikšana: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Nosaukto vienību atpazīšana: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Pārfrāzējot: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Produkta apraksts un reklāmas ģenerēšana: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Atbildes uz jautājumiem: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Semantiskā līdzība: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Sentimentu un emociju analīze: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Apkopojums: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Teksta ģenerēšana: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Tulkojums: %}</b>
                            </td>
                            <td>{% tr Jā %}</td>
                        </tr>
                       

                        </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="hero" id="access">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p>
                    {% tr Saņemiet agrīnu piekļuvi Auto datu kopai, nosūtot mums e-pastu: %}
                </p>
                <p class=" mt-5"><a class="is-size-2" style="color:#223901"
                    href="mailto:support@autodataset.com">access@autodataset.com</a></p>
                <p class="mt-6"><img width=800px src="/assets/images/ui.png"></p>
        </div>
    </section>

    
    {{ footer }}
    <script src="/assets/js/init-typed.js" async></script>
</body>

</html>