<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/assets/css/bulma-v0.9.1.min.css">
<link rel="icon" type="image/png" href="/assets/images/favicon.jpg" />
    <style>
        p {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        ul {
            list-style-type: initial;
            margin-left: 1rem;
        }
    </style>
</head>

<body>
    {{ nav }}
    <section>
        <div class="container my-6">

            <h1 class="title is-3">Privacy Policy</h1>

            <p>Auto Dataset ("we", "us" or "our") developed this service to make it easy for you to do natural language processing (NLP) in your
                software so you can focus on your own product or service. We understand that privacy is important to our
                online visitors and registered users. We respect your privacy and will take reasonable steps to protect
                your information as if it was our own.
            </p>
            <p>Please also review, if applicable, your <a href="tos.html">Terms of Service agreement</a> with us, which
                shall govern in
                the event of any inconsistency with this Privacy Policy. </p>

            <h2 class="title is-5 mt-4">What does this Privacy Policy apply to?</h2>

            <p>This Policy applies to the
                autodataset.com website, including all subpages and successor pages (collectively referred to as the
                "Website"), and also applies to all software and services that we offer, including through our Website
                when you register for an account (collectively referred to as the "Services").</p>

            <p>By using our Website or Services, you are accepting the practices described in this Policy. If you do not
                agree with this Policy, delete all cookies from your browser cache after visiting our Website and do not
                visit or use our Website or Services. Your continued use of our Website or Services will signify your
                acceptance of this Policy.</p>

            <h2 class="title is-5 mt-4">Information collection and use</h2>

            <p>Broadly speaking, we collect information in two ways: (1) when you provide it directly to us and (2)
                passively through technology such as "cookies". The types of information that we collect and our use of
                that information will depend on whether you are a Website Visitor or Registered User.</p>

            <p>For privacy reasons, we DO NOT keep any data sent to our API. All the pieces of texts you send to the API
                are processed by programs and then responses are returned, but no data is stored anywhere during this
                process.</p>

            <h2 class="title is-5 mt-4">Personal Information</h2>

            <p>The term “Personal Information”, as used in this Policy, refers to any information that can be used to
                identify a specific person, or any anonymous information (e.g. IP Address) that is linked to a specific
                person. Personal information does not include information that has been aggregated or made anonymous
                such that it can no longer be reasonably associated with a specific person.</p>

            <h2 class="title is-5 mt-4">Cookies and Web Server Logs</h2>

            <p>Similar to many commercial websites, we utilize “cookies” and other technologies to collect
                non-personally-identifiable information from our Website. “Cookies” are a feature of web browser
                software that allows web servers to recognize the computer used to access a website. Cookies can
                remember what information a computer accessed on one web page to streamline activities on related web
                pages and to make the online experience easier and more personalized. Information gathered through
                cookies and web-server log files may include information such as the date and time of visits, the pages
                viewed, IP addresses, links to/from any page, and time spent at our site. We use cookie data to measure
                web traffic and usage activity on our Website for purposes of improving and enhancing the functionality
                of our Website. Cookies also allow our servers to remember your account information for future visits
                and to provide personalized and streamlined information across related pages on our Website. Log files
                are used to monitor, measure, analyze, improve, and troubleshoot our Services. You can choose to disable
                cookies for our Website but this may limit your ability to use our Website and Services. </p>

            <h2 class="title is-5 mt-4">Website Visitors</h2>

            <p>To simply browse our Website, you are not required to provide any Personal Information. However, we may
                gather non-personally-identifiable information, as described directly above, solely for the purposes of
                monitoring and improving our Website and Services. We will not share this information with third parties
                or use it to target any advertisements to you.</p>

            <h2 class="title is-5 mt-4">Registered Users</h2>

            <p>To gain full access to our Website and Services, you must register for an account. When you register for
                an account, we collect Personal Information when you voluntarily provide it to us, such as the
                following:</p>

            <p>
                <ul>
                    <li>Your email address, to set up your account.</li>
                    <li>Your IP addresses, devices, and locations used to access the Service, which will be linked to
                        your account for enhanced security.</li>
                </ul>
            </p>
            <p>We may retrieve additional Personal Information about you from third parties and other
                identification/verification services. In addition, with your consent, we may collect additional Personal
                Information in other ways including emails, surveys, and other forms of communication. </p>

            <p>Once you begin using the Service through your account, we will keep records of meta information (account
                id, service type called, service success/failure status) of your Service requests for accounting
                purposes.</p>

            <p>Statistics and few hand-selected data items not linked to your account may
                be kept for an unlimited amount of time for quality assurance purposes.</p>

            <h2 class="title is-5 mt-4">Sharing and disclosure of information</h2>

            <p>We do not sell or rent your Personal Information to marketers or third parties.</p>
            <p>We may share your Personal Information with trusted third parties who are integral to the operation of
                our Website and Services. We may store your Personal Information in locations outside the direct control
                of us, for instance, on servers or databases co-located with hosting providers.</p>
            <p>We may disclose your Personal Information to law enforcement, government officials, or other third
                parties if: (i) we are compelled to do so by subpoena, court order or other legal process, (ii) we must
                do so to comply with laws, statutes, rules or regulations, (iii) we believe in good faith that the
                disclosure is necessary to prevent physical harm or financial loss, to report suspected illegal
                activity, or to investigate violations of our Terms of Service.</p>
            <p>In addition, in the event of a merger, acquisition, reorganization, bankruptcy, or other similar events,
                certain information in our possession may be transferred to our successor or assign.</p>

            <h2 class="title is-5 mt-4">Choice and opt-out</h2>

            <p>You can elect to not provide Personal Information, but this may limit your ability to use our Services.
                You can update your account information by signing on to our Website with your account.</p>
            <p>If you wish to opt out of having cookies set on your browser (as described above), the only way to ensure
                that this happens is to manage the settings on your web browser to delete all cookies and disallow
                further acceptance of cookies. For more information, refer to your browser's technical information.</p>

            <h2 class="title is-5 mt-4">Protection of information</h2>

            <p>Data transmissions are generally insecure. We maintain strict administrative, technical and physical
                procedures to protect information stored in our servers, which are located anywhere in the world. Access
                to information is limited (through user/password credentials and software systems) to those employees
                who require it to perform their job functions. Security safeguards include but are not limited to
                firewalls and physical access controls to building and files.</p>

            <h2 class="title is-5 mt-4">Changes and notifications</h2>

            <p>We reserve the right, in our sole and absolute discretion, to make changes to this Policy from time to
                time. Please review this Policy periodically to check for updates. If any changes are material and/or
                retroactive, we may provide additional notice and/or an opportunity to “opt-in,” as appropriate under
                the circumstances. We will provide you with disclosures and alerts regarding this Policy by posting them
                on our Website.</p>
        </div>
    </section>
    {{ footer }}

</body>
{{ common_js }}

</html>