<!DOCTYPE html>
<html lang="et">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% tr Automaatne andmekogumi genereerimine %}</title>
    <meta name="title" content="{% tr Automaatne andmekogumi genereerimine %}">
    <meta name="description"
        content="{% tr Laske tehisintellektil automaatselt luua oma andmekogumid ja treenida/täiendada oma järgmist loomuliku keele töötlemise mudelit minutiga. Andmekogumeid saab genereerida mitmes keeles. %}">
    <meta name="keywords"
        content="{% tr teksti mõistmise api %},{% tr  teksti genereerimise api %}, nlp {% tr api %}, {% tr järeldus api %}, {% tr ai api %}, {% tr tehisintellekti api %}, {% tr blogipostituse loomise api %}, {% tr tootekirjeldus api %}, {% tr reklaami genereerimise api %}, {% tr nimega üksuste tuvastamise api %}, ner {% tr api %}, {% tr tunnetusanalüüsi api %}, {% tr emotsioonide analüüsi api %}, {% tr kokkuvõttev api %}, {% tr teksti klassifitseerimise API %}, {% tr tõlke api %}, {% tr teksti genereerimise api %}, {% tr grammatika ja õigekirja parandamise api %}, {% tr kavatsuse klassifitseerimise api %}, {% tr parafraseerimine api %}, {% tr koodi genereerimise api %}, {% tr chatbot %}, {% tr vestluslik tehisintellektuaaltehnoloogia %}, {% tr semantiline sarnasus api %}, {% tr keele tuvastamise api %}, Part-Of-Speech tagging {% tr api %}, {% tr tokeniseerimise API %}, l{% tr emmatiseerimise api %}, {% tr embeddings api %}, {% tr kasutada %} nlp {% tr tootmine %}, {% tr kasutada %} spacy {% tr tootmine %}, {% tr kasutada %} transformers {% tr tootmine %}, {% tr peenhäälestus %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://autodataset.com/">
    <meta property="og:title" content="{% tr Automaatne andmekogumi genereerimine %}">
    <meta property="og:description"
        content="{% tr Laske tehisintellektil automaatselt luua oma andmekogumid ja treenida/täiendada oma järgmist loomuliku keele töötlemise mudelit minutiga. Andmekogumeid saab genereerida mitmes keeles. %}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://autodataset.com/">
    <meta property="twitter:site" content="@cloud_nlp">
    <meta property="twitter:title" content="{% tr Automaatne andmekogumi genereerimine %}">
    <meta property="twitter:description"
        content="{% tr Laske tehisintellektil automaatselt luua oma andmekogumid ja treenida/täiendada oma järgmist loomuliku keele töötlemise mudelit minutiga. Andmekogumeid saab genereerida mitmes keeles. %}">
    <link rel="stylesheet" href="/assets/css/bulma-v0.9.1.min.css">
<link rel="icon" type="image/png" href="/assets/images/favicon.jpg" />

    <style>
        body {
            font-family: Helvetica, sans-serif;
        }
        h1, h2, h3 {
            color: #223901 !important;
        }

    </style>
</head>

<body>
    {{ nav }}
    <section class="hero is-medium" style="
    background-image: url('/assets/images/chinese_letters.png'), url('/assets/images/circuit.png'); 
    background-size: 8%, 8%;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1 is-spaced">
                    {% tr Automaatne andmekogumi genereerimine %}
                </h1>
                <div id="title-to-type" style="display:none">
                    <p>{% tr tootekirjelduse ja reklaami genereerimiseks, %}</p>
                    <p>{% tr üksuse väljavõtte tegemiseks, %}</p>
                    <p>{% tr blogipostituse genereerimiseks, %}</p>
                    <p>{% tr teksti klassifitseerimiseks, %}</p>
                    <p>{% tr emotsioonide ja tunnete analüüsiks, %}</p>
                    <p>{% tr teksti kokkuvõtete tegemiseks, %}</p>
                    <p>{% tr küsimustele vastamiseks, %}</p>
                    <p>{% tr teksti genereerimiseks, %}</p>
                    <p>{% tr pealkirjade genereerimiseks, %}</p>
                    <p>{% tr vestlusrobotid/vestluslik tehisintellekt, %}</p>
                    <p>{% tr koodi genereerimiseks, %}</p>
                    <p>{% tr tõlkimiseks, %}</p>
                    <p>{% tr keele tuvastamiseks, %}</p>
                    <p>{% tr grammatika ja õigekirja parandamiseks, %}</p>
                    <p>{% tr kavatsuse klassifitseerimiseks, %}</p>
                    <p>{% tr semantiline sarnasus, %}</p>
                </div>
                <p id="subtitle" class="subtitle is-3 mt-5">{% tr Laske tehisintellektil luua oma andmekogumid, %}<br>
                    <span id="typed-title"></span><br>
                    {% tr paljudes keeltes. %}<br>
                    {% tr Looge oma järgmine loodusliku keele töötlemise mudel hetkega. %}<br>
            </div>
        </div>
    </section>
    <section>
        <div class="container has-text-centered mb-6 px-3">
            <div class="columns">
                <div class="column">
                    <img src="/assets/images/shipping.svg">
                    <h3 class="title is-5">{% tr Säästa aega %}</h3>
                    <p>{% tr Andmekogumite loomine loomuliku keele töötlemiseks on pikk ja tüütu. Lõpetage aja raiskamine ja laske meie tehisintellektil neid luua. %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/lightning.svg">
                    <h3 class="title is-5">{% tr Äärmiselt täpne %}</h3>
                    <p>{% tr Meie tehisintellekt on väga hea täpsete andmekogumite loomisel, mis sobivad ideaalselt teie kasutusjuhtumiga (küsimustele vastamine, kokkuvõtete tegemine, vestlused ja palju muud...). %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/flag.svg">
                    <h3 class="title is-5">{% tr Mitmekeelne %}</h3>
                    <p>{% tr Genereeri oma andmestik enam kui 20 keeles suurepärase kvaliteediga. %}</p>
                </div>
            </div>
            <div class="columns mt-6">
                <div class="column">
                    <img src="/assets/images/scale.svg">
                    <h3 class="title is-5">{% tr Kiire %}</h3>
                    <p>{% tr Andmekogumi genereerimine on kiire. Inimese jaoks oleks see nädalate või kuude küsimus, samas kui siin on see minutite või tundide küsimus. %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/rocket.svg">
                    <h3 class="title is-5">{% tr Taskukohane hinnakujundus %}</h3>
                    <p>
                        {% tr Meie hinnakujundus on õiglane. Seda tüütut ülesannet ei pea enam inimene tegema. %}
                    </p>
                </div>
                <div class="column">
                    <img src="/assets/images/cube.svg">
                    <h3 class="title is-5">{% tr Hinnake kõigepealt %}</h3>
                    <p>
                        {% tr Saate kõigepealt hinnata esimesi näiteid andmekogus ning otsustada maksta ja laadida alla lõpliku andmekogumi, kui olete veendunud. %}
                    </p>
                </div>
            </div>
        </div>
    </section>

    
    <section class="hero" id="use-case" style="background-color: #f6f5f5;">
        <div class="hero-body">
            <div class="container mt-4 is-size-7-mobile">
                <h3 class="title mb-6 is-5 has-text-centered">{% tr Toetatud kasutusjuhtumid %}</h3>
                <table class="table" style="margin-left:auto; margin-right:auto; background:none">
                    <thead>
                        <tr>
                            <th>{% tr Kasutusjuhtum %}</th>
                            <th>{% tr Mitmekeelne? %}</th>
                            <th class="see-docs-col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% tr Blogi
                                        Postituse põlvkond: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Teksti liigitus: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Vestlusrobotid / vestluslik tehisintellekt: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Grammatika ja õigekirja parandamine: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Pealkirja põlvkond: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Eesmärk Klassifitseerimine: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Märksõnade ja märksõnade väljavõtte: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Keele tuvastamine: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Nimetud üksuste tuvastamine: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Parafraseerides: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Toote kirjeldus ja reklaami genereerimine: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Küsimustele vastamine: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Semantiline sarnasus: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Tunnete ja emotsioonide analüüs: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Kokkuvõte: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Teksti genereerimine: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Tõlge: %}</b>
                            </td>
                            <td>{% tr Jah %}</td>
                        </tr>
                       

                        </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="hero" id="access">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p>
                    {% tr Saage varajane juurdepääs Auto Datasetile, saates meile e-kirja: %}
                </p>
                <p class=" mt-5"><a class="is-size-2" style="color:#223901"
                    href="mailto:support@autodataset.com">access@autodataset.com</a></p>
                <p class="mt-6"><img width=800px src="/assets/images/ui.png"></p>
        </div>
    </section>

    
    {{ footer }}
    <script src="/assets/js/init-typed.js" async></script>
</body>

</html>