<footer class="footer" style="background-color: #f6f5f5">
    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <a class="navbar-item" href="#use-case">
                <b>{% tr Naudojimo atvejai %}</b>
            </a>
        </div>
        <div class="column">
            <a class="navbar-item" href="#access">
                <b>{% tr Susisiekite su %}</b>
            </a>
        </div>


        <div class="column">
            <a class="navbar-item" href="tos.html"><b>{% tr Taisyklės ir sąlygos %}</b></a>
        </div>
        <div class="column">
            <a class="navbar-item" href="privacy.html"><b>{% tr Privatumo politika %}</b></a>
        </div>
        <div class="column"></div>
    </div>
</footer>