<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Terms Of Service</title>
    <link rel="stylesheet" href="/assets/css/bulma-v0.9.1.min.css">
<link rel="icon" type="image/png" href="/assets/images/favicon.jpg" />
    <style>
        p {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        ul {
            list-style-type: initial;
            margin-left:1rem;
        }
    </style>
</head>

<body class="">
    {{ nav }}
    <section>
        <div class="container my-6">

            <h1 class="title is-3">General Terms and Conditions of Auto Dataset</h1>

            <h2 class="title is-5">Who are the parties?</h2>

            <p>
                Company: Auto Dataset<br>
                Email: contact@autodataset.com<br>
                Web: https://autodataset.com
            </p>
            <p>Within these Terms of Service ("Terms") the terms "we" or "us" will refer to
                Auto Dataset, and their respective subsidiaries and affiliates that own and operate Websites and
                Internet Services on their behalf. The terms "you", "user" or "customer" refers to you as a user of our
                Websites or Services described below.</p>
            <p>These Terms set forth the terms and conditions through which we will permit you to use these websites and
                services operated and owned by us:
                <ul>
                    <li>The website at autodataset.com (and alternative domains pointing to the same website)</li>
                    <li>All software, programs, websites, data, documentation, tools, internet-based services,
                        components, updates (including software maintenance, service information, help content, bug
                        fixes or maintenance releases) provided by us, collectively the "Service"</li>
                </ul>
            </p>

            <h2 class="title is-5 mt-4">Accepting these terms</h2>

            <p>In order for you to use any of the Service, you must first agree to abide by the Terms. You can accept
                these Terms by:</p>
            <ul>
                <li>Signing up on the website to create your account.</li>
                <li>Using any of the services, in which case you understand and agree that these Terms will apply to
                    your use of those services (or any parts of them).</li>
            </ul>
            <p>Before you continue to use the service, you should print or save a local copy of the Terms for your
                records. </p>

            <h2 class="title is-5 mt-4">Registration</h2>

            <p>In order to use the Service you may be required to provide information about yourself (such as
                identification or contact details) as part of the registration process. You agree that any registration
                information you give to us will be accurate, correct, and current. You also agree to keep this
                information up to date. </p>

            <p>The Service is made available worldwide.</p>

            <p>You may choose to register as an individual (sole proprietor) or as a company or business. If you
                register as a company or business, you must also provide information about an owner or principal of the
                business and you must be authorized to act on behalf of the business and have the authority to bind the
                business to this Agreement. In order to sign up a business to use the Service, you must agree to this
                Agreement on behalf of the business. If you have so agreed, the term "you" will mean you, the natural
                person, as well as the business you represent.</p>

            <p>You agree that we may use your name and/or logo in reference material such as a user/customer list
                published on the website.</p>

            <h2 class="title is-5 mt-4">Account types and contracts</h2>

        
            <h2 class="title is-5 mt-4">Termination</h2>
            <p>You may terminate this Agreement by closing your Service Account at any time by sending us an email to access@autodataset.com asking for account termination. We may suspend or terminate this Agreement and your
                Service Account at any time in case you violate these terms or you do not comply with any of the
                provisions of this Agreement.</p>

            <h2 class="title is-5 mt-4">Effects of Termination</h2>
            <p>Upon termination and closing of your Service Account, we will immediately discontinue your access to the
                Service. You will not be refunded the remainder of the month that you have paid for.</p>

            <p>Termination does not relieve you of your obligations as defined in this Agreement.</p>

            <p>Upon termination you agree:
                <ul>
                    <li>To immediately cease your use of the Service</li>
                    <li>Immediately delete local caches or copies of data gathered by using our Service </li>
                    <li>That the license granted under this Agreement shall end</li>
                    <li>That we reserve the right (but have no obligation) to delete all of your information and
                        account data stored on our servers</li>
                    <li>We will not be liable to you for compensation, reimbursement, or damages in
                        connection with your use of the Service, or any termination or suspension of the
                        Service or deletion of your information or account data.</li>
                </ul>
            </p>

            <h2 class="title is-5 mt-4">Prohibited Uses</h2>

            <p>You specifically agree not to:</p>

            <p>
                <ul>
                    <li>Register under the name of, nor attempt to use the Service under the name or account of, another
                        person;</li>
                    <li>Allow another person to access the Service using your account or credentials;</li>
                    <li>Access (or attempt to access) the Service through any automated means (including use of scripts
                        or web crawlers), except through APIs or other interfaces specifically provided for this
                        purpose, or violate the instructions set out in any robots.txt or similar file present within
                        the Service;</li>
                    <li>Engage in the systematic retrieval of data or other content from the Service, to create or
                        compile, directly or indirectly, a collection, compilation, database or directory, without our
                        prior written consent;</li>
                    <li>Attempt to or actually circumvent any method used by us to control access to the Service,
                        including, but not limited to, spoofing or otherwise impersonating an IP address for your
                        computer that is not actually assigned to your computer or setting up a proxy or other device
                        that allows others to access the Service through it;</li>
                    <li>Reverse engineer. Any reproduction of the data, databases, software, and services of the Service
                        is strictly prohibited;</li>
                    <li>Make program changes that alter the original purpose of it;</li>
                    <li>Systematically save data results other than for temporary caching;</li>
                    <li>Use the Service to develop your own solutions as a similar or competing product or service.</li>
                </ul>
            </p>
            <h2 class="title is-5 mt-4">Your Credentials and Unauthorized Use of Your Account</h2>
            <p>You agree and understand that you are responsible for maintaining the confidentiality of the credentials
                including api-key(s) and password(s) you use to access the Service. Accordingly, you agree that you will
                be solely responsible to us for all activities that occur under your accounts, and will be responsible
                for any breach of these Terms caused by these activities. If you become aware of any unauthorized use of
                your credentials or of your account, you agree to notify us immediately. </p>

            <h2 class="title is-5 mt-4">Privacy</h2>
            <p>To understand how we use information you provide in our account and when using the Service, please read
                the <a href="privacy.html">Privacy Policy</a>.</p>

            <h2 class="title is-5 mt-4">Security</h2>
            <p>We maintain commercially reasonable administrative, technical and physical procedures to protect all the
                personal information regarding you and your customers/users that are stored in our servers from
                unauthorized access and accidental loss or modification. However, we cannot guarantee that unauthorized
                third parties will never be able to defeat those measures or use such personal information for improper
                purposes. You acknowledge that you provide this information at your own risk. We recommend you review
                our Privacy Policy, which will help you understand how we collect, use and safeguard the information you
                provide to us.</p>

            <h2 class="title is-5 mt-4">Linking to the Sites</h2>
            <p>We welcome links to the pages (homepage as well as "deep links") of any of the our Sites. You are free to
                establish a hypertext link to these pages so long as the link does not state or imply any affiliation,
                connection, sponsorship, or approval of your site by us. We do not permit framing or inline linking to
                our Sites or any portions of them.</p>

            <h2 class="title is-5 mt-4">Ownership and License</h2>
            <p>We grant you a personal, limited, non-exclusive, revocable, non-transferable license, without the right
                to sublicense, to electronically access and use the Service for your personal or commercial purposes.
                You will be entitled to download updates to the Service, subject to any additional terms made known to
                you at that time, when we make these updates available.</p>
            <p>The Service is licensed and not sold. We reserve all rights not expressly granted to you in this
                Agreement. The Service is protected by copyright, trade secret and other intellectual property laws. We
                own the title, copyright and other worldwide Intellectual Property Rights (as defined below) in the
                Service and all copies of the Service. This Agreement does not grant you any rights to our trademarks or
                service marks.</p>
            <p>For the purposes of this Agreement, “Intellectual Property Rights” means all patent rights, copyright
                rights, mask work rights, moral rights, rights of publicity, trademark, trade dress and service mark
                rights, goodwill, trade secret rights and other intellectual property rights as may now exist or
                hereafter come into existence, and all applications therefore and registrations, renewals and extensions
                thereof, under the laws of any state, country, territory or other jurisdiction.</p>
            <p>You may choose to or we may invite you to submit comments or ideas about the Service, including without
                limitation about how to improve the Service or our products (“Ideas”). By submitting any Idea, you agree
                that your disclosure is gratuitous, unsolicited and without restriction and will not place us under any
                fiduciary or other obligation, and that we are free to use the Idea without any additional compensation
                to you, and/or to disclose the Idea on a non-confidential basis or otherwise to anyone. You further
                acknowledge that, by acceptance of your submission, we do not waive any rights to use similar or related
                ideas previously known to us, or developed by our employees, or obtained from sources other than you.
            </p>

            <h2 class="title is-5 mt-4">No Warranties</h2>

            <p>THE SERVICE AND ALL ACCOMPANYING DOCUMENTATION ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS,
                WITHOUT ANY WARRANTIES, EITHER EXPRESS, IMPLIED, OR STATUTORY, INCLUDING WITHOUT LIMITATION ANY IMPLIED
                WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. USE OF THE
                SERVICE IS AT YOUR OWN RISK.</p>
            <p>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM OR THROUGH THE SERVICE OR FROM
                US, SUPPLIERS OR LICENSORS, AGENTS, DIRECTORS AND EMPLOYEES OF ANY OF THE ENTITIES LISTED (COLLECTIVELY,
                THE “DISCLAIMING ENTITIES” AND INDIVIDUALLY A “DISCLAIMING ENTITY”), AND WILL CREATE ANY WARRANTY.</p>
            <p>WITHOUT LIMITING THE FOREGOING, THE DISCLAIMING ENTITIES DO NOT WARRANT THAT THE INFORMATION THEY PROVIDE
                OR THAT IS PROVIDED THROUGH THE SERVICE IS ACCURATE, RELIABLE OR CORRECT; THAT THE SERVICE WILL MEET
                YOUR REQUIREMENTS; THAT THE SERVICE WILL BE AVAILABLE AT ANY PARTICULAR TIME OR LOCATION, THAT THE
                SERVICE WILL FUNCTION IN AN UNINTERRUPTED MANNER OR BE SECURE; THAT ANY DEFECTS OR ERRORS WILL BE
                CORRECTED; OR THAT THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. ANY SUBJECT MATTER
                DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DOWNLOADED AT YOUR OWN RISK AND YOU
                WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR PROPERTY OR LOSS OF DATA THAT RESULTS FROM SUCH
                DOWNLOAD. THE DISCLAIMING ENTITIES MAKE NO REPRESENTATIONS OR WARRANTIES ABOUT HOW LONG WILL BE NEEDED
                TO COMPLETE THE PROCESSING OF A SERVICE REQUEST.</p>

            <h2 class="title is-5 mt-4">Limitation of Liability and Damages</h2>
            <p>IN NO EVENT SHALL A DISCLAIMING ENTITY BE LIABLE FOR ANY LOST PROFITS, LOSS OF DATA, OR ANY INDIRECT,
                PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES ARISING OUT OF, IN CONNECTION WITH OR
                RELATING TO THIS AGREEMENT OR THE SERVICES, INCLUDING WITHOUT LIMITATION THE USE OF, INABILITY TO USE,
                OR UNAVAILABILITY OF THE SERVICE. UNDER NO CIRCUMSTANCES WILL ANY OF THE DISCLAIMING ENTITIES BE
                RESPONSIBLE FOR ANY DAMAGE, LOSS OR INJURY RESULTING FROM HACKING, TAMPERING OR OTHER UNAUTHORIZED
                ACCESS OR USE OF THE SERVICE OR YOUR SERVICE ACCOUNT OR THE INFORMATION CONTAINED THEREIN.</p>
            <p>THE DISCLAIMING ENTITIES ASSUME NO LIABILITY OR RESPONSIBILITY FOR ANY (A) PERSONAL INJURY OR PROPERTY
                DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO OR USE OF THE SERVICE; (B) ANY
                UNAUTHORIZED ACCESS TO OR USE OF SERVERS USED IN CONNECTION WITH THE SERVICES AND/OR ANY AND ALL
                PERSONAL INFORMATION STORED THEREIN; (C) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE
                SERVICE; (D) ANY SOFTWARE BUGS, VIRUSES, TROJAN HORSES, OR OTHER HARMFUL CODE THAT MAY BE TRANSMITTED TO
                OR THROUGH THE SERVICE; (E) ANY ERRORS, INACCURACIES OR OMISSIONS IN ANY CONTENT OR INFORMATION, FOR ANY
                LOSS OR DAMAGE INCURRED AS A RESULT OF THE USE OF ANY CONTENT OR INFORMATION, IN EACH CASE POSTED,
                EMAILED, STORED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE THROUGH THE SERVICE; AND/OR (F) USER CONTENT
                OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY.</p>
            <p>THE DISCLAIMING ENTITIES’ CUMULATIVE LIABILITY TO YOU SHALL BE LIMITED TO DIRECT DAMAGES AND IN ALL
                EVENTS SHALL NOT EXCEED IN THE AGGREGATE THE AMOUNT OF FEES PAID BY YOU TO US DURING THE THREE (3) MONTH
                PERIOD IMMEDIATELY PRECEDING THE EVENT GIVING RISE TO THE CLAIM FOR LIABILITY.</p>
            <p>THIS LIMITATION OF LIABILITY SECTION APPLIES REGARDLESS OF THE LEGAL THEORY ON WHICH THE CLAIM IS BASED,
                INCLUDING WITHOUT LIMITATION CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY, OR ANY OTHER
                BASIS. THE LIMITATIONS APPLY EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.</p>
            <p>THE PROVISIONS OF THIS SECTION SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE
                JURISDICTION.</p>
            <p>The Service is controlled from its facilities in France, and operated in various countries worldwide. We
                make no representations that the Service is appropriate or available for use in your location. Those who
                access or use the Service from jurisdictions other than France do so at their own volition and are
                entirely responsible for compliance with all applicable local laws and regulations, including but not
                limited to export and import regulations.</p>

            <h2 class="title is-5 mt-4">Disputes; Choice of Law; Jurisdiction and Venue</h2>
            <p>You agree that any disputes arising out of or relating to this Agreement or the Service shall be resolved
                in accordance with this Section.</p>
            <p>This Agreement is governed by the laws of the country of France. The exclusive venue for any actions or
                claims arising under or related to this Agreement shall be in the appropriate court located in Grenoble,
                France. ALL PARTIES IRREVOCABLY WAIVE ANY AND ALL RIGHTS THEY MAY HAVE TO A TRIAL BY JURY IN ANY
                JUDICIAL PROCEEDING INVOLVING ANY CLAIM RELATING TO OR ARISING UNDER THIS AGREEMENT. Headings are
                included for convenience only, and shall not be considered in interpreting this Agreement. The Agreement
                does not limit any rights that we may have under trade secret, copyright, patent or other laws. Our
                failure to assert any right or provision under this Agreement shall not constitute a waiver of such
                right or provision. No waiver of any term of this Agreement shall be deemed a further or continuing
                waiver of such term or any other term.</p>
            <h2 class="title is-5 mt-4">Right to Amend</h2>
            <p>We have the right to change or add to the terms of this Agreement at any time, and to change, delete,
                discontinue, or impose conditions on any feature or aspect of the Service or software with notice that
                we in our sole discretion deem to be reasonable in the circumstances, including such notice on our
                website for the purposes of providing services in terms of this Agreement. Any use of the Service or
                software after our publication of any such changes shall constitute your acceptance of this Agreement as
                modified.</p>

            <h2 class="title is-5 mt-4">Parties</h2>
            <p>This Agreement binds you and your respective heirs, representatives, and permitted and approved
                successors (including those by merger and acquisition) or any permitted assigns.</p>
            <h2 class="title is-5 mt-4">Force Majeure</h2>
            <p>We will not be liable for delays in processing or other nonperformance caused by such events as fires,
                telecommunications failures, utility failures, power failures, equipment failures, labor strife, riots,
                war, terrorist attack, or other causes over which the we have no reasonable control.</p>
            <h2 class="title is-5 mt-4">Entire Agreement</h2>
            <p>These terms and conditions and all policies and procedures that are incorporated herein by reference
                constitute the entire agreement between you and us, with respect to the provision of the Service. In the
                event of a conflict between this Agreement and any other policy, this Agreement shall prevail on the
                subject matter of this Agreement. Except as expressly provided in this Agreement, these terms describe
                the entire liability of us and our vendors and suppliers and sets forth your exclusive remedies with
                respect to the Service and your access and use of the Service. If any provision of this Agreement (or
                portion thereof) is held to be invalid or unenforceable under applicable law, then it shall be changed
                and interpreted to accomplish the objectives of such provision to the greatest extent possible under
                applicable law, and the remaining provisions will continue in full force and effect.</p>

        </div>
    </section>    
    {{ footer }}
</body>

{{ common_js }}

</html>
