<nav class="navbar" role="navigation" aria-label="main navigation"
    style="background-color: #f6f5f5; border-bottom: 1px solid rgb(214, 212, 212);">
    <div class="navbar-brand">
        
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="#use-case">
                <b>{% tr 使用例 %}</b>
            </a>
            <a class="navbar-item" href="#access">
                <b>{% tr 連絡先 %}</b>
            </a>

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-link" href="#access">
                        <strong>{% tr 登録 %}</strong>
                    </a>
                    <div id="lang-dropdown" class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button is-light" aria-haspopup="true" aria-controls="dropdown-menu"
                                onClick="document.getElementById('lang-dropdown').classList.toggle('is-active')">
                                <span>Lang</span>
                                <span class="ml-2 icon is-small">
                                    <img src="/assets/images/world-2.png" alt="{% tr 言語 %}">
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu" style="left:-100px"
                            onClick="document.getElementById('lang-dropdown').classList.toggle('is-active')">
                            <div class="dropdown-content">
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/bg/').replace('build/', 'build/bg/').replace('localhost/', 'localhost/bg/')">
                                    Български
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/cs/').replace('build/', 'build/cs/').replace('localhost/', 'localhost/cs/')">
                                    Česky
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/da/').replace('build/', 'build/da/').replace('localhost/', 'localhost/da/')">
                                    Dánský
                                </a>
                                
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/de/').replace('build/', 'build/de/').replace('localhost/', 'localhost/de/')">
                                    Deutsch
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/el/').replace('build/', 'build/el/').replace('localhost/', 'localhost/el/')">
                                    Ελληνική
                                </a>
                                <a class="dropdown-item is-active" onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/')">
                                    English
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/es/').replace('build/', 'build/es/').replace('localhost/', 'localhost/es/')">
                                    Español
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/et/').replace('build/', 'build/et/').replace('localhost/', 'localhost/et/')">
                                    Eesti
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/fi/').replace('build/', 'build/fi/').replace('localhost/', 'localhost/fi/')">
                                    Suomalainen
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/fr/').replace('build/', 'build/fr/').replace('localhost/', 'localhost/fr/')">
                                    Français
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/hu/').replace('build/', 'build/hu/').replace('localhost/', 'localhost/hu/')">
                                    Magyar
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/it/').replace('build/', 'build/it/').replace('localhost/', 'localhost/it/')">
                                    Italiano
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/ja/').replace('build/', 'build/ja/').replace('localhost/', 'localhost/ja/')">
                                    やまと
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/lt/').replace('build/', 'build/lt/').replace('localhost/', 'localhost/lt/')">
                                    Lietuvių kalba
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/lv/').replace('build/', 'build/lv/').replace('localhost/', 'localhost/lv/')">
                                    Latviešu
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/nl/').replace('build/', 'build/nl/').replace('localhost/', 'localhost/nl/')">
                                    Holandiešu
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/pl/').replace('build/', 'build/pl/').replace('localhost/', 'localhost/pl/')">
                                    Polski
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/pt/').replace('build/', 'build/pt/').replace('localhost/', 'localhost/pt/')">
                                    Português
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/ro/').replace('build/', 'build/ro/').replace('localhost/', 'localhost/ro/')">
                                    Românesc
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/ru/').replace('build/', 'build/ru/').replace('localhost/', 'localhost/ru/')">
                                    Русский
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/sk/').replace('build/', 'build/sk/').replace('localhost/', 'localhost/sk/')">
                                    Slovenská
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/sl/').replace('build/', 'build/sl/').replace('localhost/', 'localhost/sl/')">
                                    Slovenski
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/sv/').replace('build/', 'build/sv/').replace('localhost/', 'localhost/sv/')">
                                    Svenska
                                </a>
                                <a class="dropdown-item"
                                    onClick="window.location.href = window.location.href.replace('/bg/','/').replace('/cs/','/').replace('/da/','/').replace('/de/','/').replace('/el/','/').replace('/es/','/').replace('/et/','/').replace('/fi/','/').replace('/fr/','/').replace('/hu/','/').replace('/it/','/').replace('/ja/','/').replace('/lt/','/').replace('/lv/','/').replace('/nl/','/').replace('/pl/','/').replace('/pt/','/').replace('/ro/','/').replace('/ru/','/').replace('/sk/','/').replace('/sl/','/').replace('/sv/','/').replace('/zh/','/').replace('autodataset.com/', 'autodataset.com/zh/').replace('build/', 'build/zh/').replace('localhost/', 'localhost/zh/')">
                                    中国
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>