<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% tr Automatisch genereren van datasets %}</title>
    <meta name="title" content="{% tr Automatisch genereren van datasets %}">
    <meta name="description"
        content="{% tr Laat AI automatisch uw datasets genereren en eenvoudig uw volgende natuurlijke taalverwerkingsmodel in een minuut trainen/fine-tunen. Datasets kunnen in meerdere talen worden gegenereerd. %}">
    <meta name="keywords"
        content="{% tr tekstbegrip api %},{% tr  tekst generatie api %}, nlp {% tr api %}, {% tr inferentie-api %}, {% tr ai api %}, {% tr kunstmatige intelligentie api %}, {% tr blog post generatie api %}, {% tr productbeschrijving api %}, {% tr advertentie generatie api %}, {% tr named entity recognition api %}, ner {% tr api %}, {% tr sentiment analyse api %}, {% tr emotie analyse api %}, {% tr samenvattende api %}, {% tr tekstclassificatie api %}, {% tr vertaalapi %}, {% tr tekst generatie api %}, {% tr grammatica en spelling correctie api %}, {% tr intentieclassificatie api %}, {% tr parafraseren api %}, {% tr code generatie api %}, {% tr chatbot %}, {% tr conversationele AI %}, {% tr semantische gelijkenis api %}, {% tr taal detectie api %}, Part-Of-Speech tagging {% tr api %}, {% tr tokenization api %}, l{% tr ematisatie api %}, {% tr inbeddings api %}, {% tr inzetten %} nlp {% tr productie %}, {% tr inzetten %} spacy {% tr productie %}, {% tr inzetten %} transformers {% tr productie %}, {% tr fijnafstelling %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://autodataset.com/">
    <meta property="og:title" content="{% tr Automatisch genereren van datasets %}">
    <meta property="og:description"
        content="{% tr Laat AI automatisch uw datasets genereren en eenvoudig uw volgende natuurlijke taalverwerkingsmodel in een minuut trainen/fine-tunen. Datasets kunnen in meerdere talen worden gegenereerd. %}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://autodataset.com/">
    <meta property="twitter:site" content="@cloud_nlp">
    <meta property="twitter:title" content="{% tr Automatisch genereren van datasets %}">
    <meta property="twitter:description"
        content="{% tr Laat AI automatisch uw datasets genereren en eenvoudig uw volgende natuurlijke taalverwerkingsmodel in een minuut trainen/fine-tunen. Datasets kunnen in meerdere talen worden gegenereerd. %}">
    <link rel="stylesheet" href="/assets/css/bulma-v0.9.1.min.css">
<link rel="icon" type="image/png" href="/assets/images/favicon.jpg" />

    <style>
        body {
            font-family: Helvetica, sans-serif;
        }
        h1, h2, h3 {
            color: #223901 !important;
        }

    </style>
</head>

<body>
    {{ nav }}
    <section class="hero is-medium" style="
    background-image: url('/assets/images/chinese_letters.png'), url('/assets/images/circuit.png'); 
    background-size: 8%, 8%;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1 is-spaced">
                    {% tr Automatisch genereren van datasets %}
                </h1>
                <div id="title-to-type" style="display:none">
                    <p>{% tr voor productbeschrijving en het genereren van advertenties, %}</p>
                    <p>{% tr voor entiteit extractie, %}</p>
                    <p>{% tr voor het genereren van blog berichten, %}</p>
                    <p>{% tr voor tekstclassificatie, %}</p>
                    <p>{% tr voor sentiment en emotie analyse, %}</p>
                    <p>{% tr voor het samenvatten van tekst, %}</p>
                    <p>{% tr voor het beantwoorden van vragen, %}</p>
                    <p>{% tr voor het genereren van tekst, %}</p>
                    <p>{% tr voor de krantenkoppen, %}</p>
                    <p>{% tr voor chatbots/conversationele AI, %}</p>
                    <p>{% tr voor het genereren van code, %}</p>
                    <p>{% tr voor de vertaling, %}</p>
                    <p>{% tr voor het opsporen van taal, %}</p>
                    <p>{% tr voor grammatica en spellingcorrectie, %}</p>
                    <p>{% tr voor intentie classificatie, %}</p>
                    <p>{% tr voor semantische gelijkenis, %}</p>
                </div>
                <p id="subtitle" class="subtitle is-3 mt-5">{% tr Laat AI uw datasets genereren, %}<br>
                    <span id="typed-title"></span><br>
                    {% tr in vele talen. %}<br>
                    {% tr Creëer uw volgende Natural Language Processing model in een handomdraai. %}<br>
            </div>
        </div>
    </section>
    <section>
        <div class="container has-text-centered mb-6 px-3">
            <div class="columns">
                <div class="column">
                    <img src="/assets/images/shipping.svg">
                    <h3 class="title is-5">{% tr Tijd besparen %}</h3>
                    <p>{% tr Datasets maken voor natuurlijke taalverwerking is lang en vervelend. Verspil geen tijd meer en laat onze AI ze genereren. %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/lightning.svg">
                    <h3 class="title is-5">{% tr Extreem Nauwkeurig %}</h3>
                    <p>{% tr Onze AI is zeer goed in het creëren van nauwkeurige datasets die perfect aansluiten bij uw use case (beantwoorden van vragen, samenvatten, conversaties, en meer...) %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/flag.svg">
                    <h3 class="title is-5">{% tr Meertalig %}</h3>
                    <p>{% tr Genereer uw dataset in meer dan 20 talen met een uitstekende kwaliteit. %}</p>
                </div>
            </div>
            <div class="columns mt-6">
                <div class="column">
                    <img src="/assets/images/scale.svg">
                    <h3 class="title is-5">{% tr Snel %}</h3>
                    <p>{% tr Het genereren van de dataset gaat snel. Voor een mens zou het een kwestie van weken of maanden zijn, terwijl het hier een kwestie van minuten of uren is. %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/rocket.svg">
                    <h3 class="title is-5">{% tr Betaalbare prijzen %}</h3>
                    <p>
                        {% tr Onze prijzen zijn eerlijk. Deze saaie taak hoeft niet meer door mensen gedaan te worden %}
                    </p>
                </div>
                <div class="column">
                    <img src="/assets/images/cube.svg">
                    <h3 class="title is-5">{% tr Eerst beoordelen %}</h3>
                    <p>
                        {% tr U kunt eerst de eerste voorbeelden in de dataset beoordelen en besluiten te betalen en de definitieve dataset te downloaden als u overtuigd bent. %}
                    </p>
                </div>
            </div>
        </div>
    </section>

    
    <section class="hero" id="use-case" style="background-color: #f6f5f5;">
        <div class="hero-body">
            <div class="container mt-4 is-size-7-mobile">
                <h3 class="title mb-6 is-5 has-text-centered">{% tr Ondersteunde gebruikssituaties %}</h3>
                <table class="table" style="margin-left:auto; margin-right:auto; background:none">
                    <thead>
                        <tr>
                            <th>{% tr Use Case %}</th>
                            <th>{% tr Meertalig? %}</th>
                            <th class="see-docs-col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% tr Blog
                                        Post Generatie: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Tekst classificatie: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Chatbots / Conversationele AI: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Grammatica en spellingcorrectie: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Headline Generatie: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Intentie classificatie: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Keywords en Keyphrases extractie: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Taalherkenning: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Named Entity Recognition: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Parafraseren: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Product Beschrijving en advertentie generatie: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Vragen beantwoorden: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Semantische gelijkenis: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Sentiment en emotie analyse: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Samenvattend: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Tekstgeneratie: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Vertaling: %}</b>
                            </td>
                            <td>{% tr Ja %}</td>
                        </tr>
                       

                        </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="hero" id="access">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p>
                    {% tr Krijg eerder toegang tot de Auto Dataset door ons een e-mail te sturen: %}
                </p>
                <p class=" mt-5"><a class="is-size-2" style="color:#223901"
                    href="mailto:support@autodataset.com">access@autodataset.com</a></p>
                <p class="mt-6"><img width=800px src="/assets/images/ui.png"></p>
        </div>
    </section>

    
    {{ footer }}
    <script src="/assets/js/init-typed.js" async></script>
</body>

</html>