<!DOCTYPE html>
<html lang="lt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% tr Automatinis duomenų rinkinio generavimas %}</title>
    <meta name="title" content="{% tr Automatinis duomenų rinkinio generavimas %}">
    <meta name="description"
        content="{% tr Leiskite dirbtiniam intelektui automatiškai generuoti duomenų rinkinius ir per minutę lengvai apmokykite ir sureguliuokite kitą natūralios kalbos apdorojimo modelį. Duomenų rinkinius galima generuoti keliomis kalbomis. %}">
    <meta name="keywords"
        content="{% tr teksto supratimo api %},{% tr  teksto generavimo programinė įranga %}, nlp {% tr api %}, {% tr išvadų api %}, {% tr ai api %}, {% tr dirbtinio intelekto api %}, {% tr tinklaraščio įrašo generavimo api %}, {% tr produkto aprašymo api %}, {% tr skelbimų generavimo api %}, {% tr įvardytos esybės atpažinimo API %}, ner {% tr api %}, {% tr nuotaikų analizės programinė įranga %}, {% tr emocijų analizės api %}, {% tr apibendrinimo api %}, {% tr teksto klasifikavimo api %}, {% tr vertimo api %}, {% tr teksto generavimo programinė įranga %}, {% tr gramatikos ir rašybos taisymo api %}, {% tr ketinimų klasifikavimo api %}, {% tr perfrazavimo api %}, {% tr kodo generavimo programinė įranga %}, {% tr pokalbių robotas %}, {% tr pokalbių dirbtinis intelektas %}, {% tr semantinio panašumo api %}, {% tr kalbos aptikimo programinė įranga %}, Part-Of-Speech tagging {% tr api %}, {% tr taikenizavimo api %}, l{% tr emmatizacijos api %}, {% tr įterpinių api %}, {% tr įdiegti %} nlp {% tr gamyba %}, {% tr įdiegti %} spacy {% tr gamyba %}, {% tr įdiegti %} transformers {% tr gamyba %}, {% tr tikslus derinimas %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://autodataset.com/">
    <meta property="og:title" content="{% tr Automatinis duomenų rinkinio generavimas %}">
    <meta property="og:description"
        content="{% tr Leiskite dirbtiniam intelektui automatiškai generuoti duomenų rinkinius ir per minutę lengvai apmokykite ir sureguliuokite kitą natūralios kalbos apdorojimo modelį. Duomenų rinkinius galima generuoti keliomis kalbomis. %}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://autodataset.com/">
    <meta property="twitter:site" content="@cloud_nlp">
    <meta property="twitter:title" content="{% tr Automatinis duomenų rinkinio generavimas %}">
    <meta property="twitter:description"
        content="{% tr Leiskite dirbtiniam intelektui automatiškai generuoti duomenų rinkinius ir per minutę lengvai apmokykite ir sureguliuokite kitą natūralios kalbos apdorojimo modelį. Duomenų rinkinius galima generuoti keliomis kalbomis. %}">
    <link rel="stylesheet" href="/assets/css/bulma-v0.9.1.min.css">
<link rel="icon" type="image/png" href="/assets/images/favicon.jpg" />

    <style>
        body {
            font-family: Helvetica, sans-serif;
        }
        h1, h2, h3 {
            color: #223901 !important;
        }

    </style>
</head>

<body>
    {{ nav }}
    <section class="hero is-medium" style="
    background-image: url('/assets/images/chinese_letters.png'), url('/assets/images/circuit.png'); 
    background-size: 8%, 8%;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1 is-spaced">
                    {% tr Automatinis duomenų rinkinio generavimas %}
                </h1>
                <div id="title-to-type" style="display:none">
                    <p>{% tr produktų aprašymui ir skelbimų generavimui, %}</p>
                    <p>{% tr subjektų išskyrimui, %}</p>
                    <p>{% tr tinklaraščio įrašams generuoti, %}</p>
                    <p>{% tr teksto klasifikavimui, %}</p>
                    <p>{% tr nuotaikų ir emocijų analizei, %}</p>
                    <p>{% tr teksto apibendrinimui, %}</p>
                    <p>{% tr atsakyti į klausimus, %}</p>
                    <p>{% tr teksto generavimui, %}</p>
                    <p>{% tr antraštėms kurti, %}</p>
                    <p>{% tr pokalbių robotams / pokalbių dirbtiniam intelektui, %}</p>
                    <p>{% tr kodui generuoti, %}</p>
                    <p>{% tr vertimui, %}</p>
                    <p>{% tr kalbos nustatymui, %}</p>
                    <p>{% tr gramatikos ir rašybos taisymas, %}</p>
                    <p>{% tr ketinimams klasifikuoti, %}</p>
                    <p>{% tr semantinio panašumo, %}</p>
                </div>
                <p id="subtitle" class="subtitle is-3 mt-5">{% tr Leiskite dirbtiniam intelektui kurti duomenų rinkinius, %}<br>
                    <span id="typed-title"></span><br>
                    {% tr daugeliu kalbų. %}<br>
                    {% tr Sukurkite kitą natūralios kalbos apdorojimo modelį akimirksniu. %}<br>
            </div>
        </div>
    </section>
    <section>
        <div class="container has-text-centered mb-6 px-3">
            <div class="columns">
                <div class="column">
                    <img src="/assets/images/shipping.svg">
                    <h3 class="title is-5">{% tr Taupykite laiką %}</h3>
                    <p>{% tr Natūralios kalbos apdorojimo duomenų rinkinių kūrimas yra ilgas ir varginantis. Nustokite gaišti laiką ir leiskite mūsų dirbtiniam intelektui juos sukurti. %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/lightning.svg">
                    <h3 class="title is-5">{% tr Itin tikslus %}</h3>
                    <p>{% tr Mūsų dirbtinis intelektas labai gerai kuria tikslius duomenų rinkinius, kurie puikiai atitinka jūsų naudojimo atvejį (atsakymai į klausimus, apibendrinimas, pokalbiai ir kt.). %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/flag.svg">
                    <h3 class="title is-5">{% tr Daugiakalbis %}</h3>
                    <p>{% tr Sukurkite duomenų rinkinį daugiau nei 20 kalbų ir puikios kokybės. %}</p>
                </div>
            </div>
            <div class="columns mt-6">
                <div class="column">
                    <img src="/assets/images/scale.svg">
                    <h3 class="title is-5">{% tr Greitai %}</h3>
                    <p>{% tr Duomenų rinkiniai generuojami greitai. Žmogui tai užtruktų savaites ar mėnesius, o čia - kelias minutes ar valandas. %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/rocket.svg">
                    <h3 class="title is-5">{% tr Įperkamos kainos %}</h3>
                    <p>
                        {% tr Mūsų kainos yra sąžiningos. Šios nuobodžios užduoties nebereikia atlikti žmonėms %}
                    </p>
                </div>
                <div class="column">
                    <img src="/assets/images/cube.svg">
                    <h3 class="title is-5">{% tr Pirmiausia įvertinkite %}</h3>
                    <p>
                        {% tr Pirmiausia galite įvertinti pirmuosius duomenų rinkinio pavyzdžius, o kai įsitikinsite, kad esate įsitikinę, nuspręsti sumokėti ir atsisiųsti galutinį duomenų rinkinį. %}
                    </p>
                </div>
            </div>
        </div>
    </section>

    
    <section class="hero" id="use-case" style="background-color: #f6f5f5;">
        <div class="hero-body">
            <div class="container mt-4 is-size-7-mobile">
                <h3 class="title mb-6 is-5 has-text-centered">{% tr Palaikomi naudojimo atvejai %}</h3>
                <table class="table" style="margin-left:auto; margin-right:auto; background:none">
                    <thead>
                        <tr>
                            <th>{% tr Naudojimo atvejis %}</th>
                            <th>{% tr Daugiakalbystė? %}</th>
                            <th class="see-docs-col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% tr Tinklaraštis
                                        Pašto karta: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Teksto klasifikavimas: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Pokalbių robotai / pokalbių dirbtinis intelektas: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Gramatikos ir rašybos taisymas: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Antraštės generavimas: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Ketinimų klasifikavimas: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Raktinių žodžių ir raktinių frazių išskyrimas: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Kalbos aptikimas: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Įvardytų subjektų atpažinimas: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Perfrazuojant: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Produkto aprašymas ir skelbimų generavimas: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Atsakymai į klausimus: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Semantinis panašumas: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Nuotaikų ir emocijų analizė: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Apibendrinimas: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Teksto generavimas: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Vertimas: %}</b>
                            </td>
                            <td>{% tr Taip %}</td>
                        </tr>
                       

                        </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="hero" id="access">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p>
                    {% tr Gaukite išankstinę prieigą prie automatinio duomenų rinkinio atsiųsdami mums el. laišką: %}
                </p>
                <p class=" mt-5"><a class="is-size-2" style="color:#223901"
                    href="mailto:support@autodataset.com">access@autodataset.com</a></p>
                <p class="mt-6"><img width=800px src="/assets/images/ui.png"></p>
        </div>
    </section>

    
    {{ footer }}
    <script src="/assets/js/init-typed.js" async></script>
</body>

</html>