<footer class="footer" style="background-color: #f6f5f5">
    <div class="columns">
        <div class="column"></div>
        <div class="column has-text-centered">
            <a href="#use-case" style="color:#223901">
                <b>{% tr Use Cases %}</b>
            </a>
            |
            <a href="#access" style="color:#223901">
                <b>{% tr Contact %}</b>
            </a>
            |
            <a href="tos.html" style="color:#223901"><b>{% tr Terms and Conditions %}</b></a>
            |
            <a href="privacy.html" style="color:#223901"><b>{% tr Privacy Policy %}</b></a>
        </div>
        <div class="column"></div>
    </div>
</footer>