<nav class="navbar" role="navigation" aria-label="main navigation"
    style="background-color: #f6f5f5; border-bottom: 1px solid rgb(214, 212, 212);">
    <div class="navbar-brand">
        
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="#use-case">
                <b>{% tr Use Cases %}</b>
            </a>
            <a class="navbar-item" href="#access">
                <b>{% tr Contact %}</b>
            </a>

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button" href="#access" style="color: white; background-color:#223901">
                        <strong>{% tr Register %}</strong>
                    </a>
                    <div id="lang-dropdown" class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button is-light" aria-haspopup="true" aria-controls="dropdown-menu"
                                onClick="document.getElementById('lang-dropdown').classList.toggle('is-active')">
                                <span>Lang</span>
                                <span class="ml-2 icon is-small">
                                    <img src="/assets/images/world-2.png" alt="{% tr Language %}">
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu" style="left:-100px"
                            onClick="document.getElementById('lang-dropdown').classList.toggle('is-active')">
                            <ul id="language-selector" class="dropdown-content">
                                <li class="dropdown-item" data-lang="bg"><a class="has-text-dark">Български</a></li>
                                <li class="dropdown-item" data-lang="cs"><a class="has-text-dark">Česky</a></li>
                                <li class="dropdown-item" data-lang="da"><a class="has-text-dark">Dánský</a></li>
                                <li class="dropdown-item" data-lang="de"><a class="has-text-dark">Deutsch</a></li>
                                <li class="dropdown-item" data-lang="el"><a class="has-text-dark">Ελληνική</a></li>
                                <li class="dropdown-item" data-lang="en"><a class="has-text-dark">English</a></li>
                                <li class="dropdown-item" data-lang="es"><a class="has-text-dark">Español</a></li>
                                <li class="dropdown-item" data-lang="et"><a class="has-text-dark">Eesti</a></li>
                                <li class="dropdown-item" data-lang="fi"><a class="has-text-dark">Suomalainen</a></li>
                                <li class="dropdown-item" data-lang="fr"><a class="has-text-dark">Français</a></li>
                                <li class="dropdown-item" data-lang="hu"><a class="has-text-dark">Magyar</a></li>
                                <li class="dropdown-item" data-lang="it"><a class="has-text-dark">Italiano</a></li>
                                <li class="dropdown-item" data-lang="ja"><a class="has-text-dark">やまと</a></li>
                                <li class="dropdown-item" data-lang="lt"><a class="has-text-dark">Lietuvių kalba</a></li>
                                <li class="dropdown-item" data-lang="lv"><a class="has-text-dark">Latviešu</a></li>
                                <li class="dropdown-item" data-lang="nb"><a class="has-text-dark">Norsk</a></li>
                                <li class="dropdown-item" data-lang="nl"><a class="has-text-dark">Holandiešu</a></li>
                                <li class="dropdown-item" data-lang="pl"><a class="has-text-dark">Polski</a></li>
                                <li class="dropdown-item" data-lang="pt"><a class="has-text-dark">Português</a></li>
                                <li class="dropdown-item" data-lang="ro"><a class="has-text-dark">Românesc</a></li>
                                <li class="dropdown-item" data-lang="ru"><a class="has-text-dark">Русский</a></li>
                                <li class="dropdown-item" data-lang="sk"><a class="has-text-dark">Slovenská</a></li>
                                <li class="dropdown-item" data-lang="sl"><a class="has-text-dark">Slovenski</a></li>
                                <li class="dropdown-item" data-lang="sv"><a class="has-text-dark">Svenska</a></li>
                                <li class="dropdown-item" data-lang="zh"><a class="has-text-dark">中国</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>


    var languageOptions = document.querySelectorAll('#language-selector li');
    languageOptions.forEach(function (option) {
      option.addEventListener('click', function () {
        lang = this.getAttribute('data-lang');
        if (lang == 'en') {
          window.location.href = "/";
        } else {
          window.location.href = "/" + lang;
        }
      });
    });

  </script>