<footer class="footer" style="background-color: #f6f5f5">
    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <a class="navbar-item" href="#use-case">
                <b>{% tr Casi d'uso %}</b>
            </a>
        </div>
        <div class="column">
            <a class="navbar-item" href="#access">
                <b>{% tr Contatta %}</b>
            </a>
        </div>


        <div class="column">
            <a class="navbar-item" href="tos.html"><b>{% tr Termini e condizioni %}</b></a>
        </div>
        <div class="column">
            <a class="navbar-item" href="privacy.html"><b>{% tr Politica sulla privacy %}</b></a>
        </div>
        <div class="column"></div>
    </div>
</footer>