<footer class="footer" style="background-color: #f6f5f5">
    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <a class="navbar-item" href="#use-case">
                <b>{% tr 使用案例 %}</b>
            </a>
        </div>
        <div class="column">
            <a class="navbar-item" href="#access">
                <b>{% tr 联系我们 %}</b>
            </a>
        </div>


        <div class="column">
            <a class="navbar-item" href="tos.html"><b>{% tr 条款和条件 %}</b></a>
        </div>
        <div class="column">
            <a class="navbar-item" href="privacy.html"><b>{% tr 隐私政策 %}</b></a>
        </div>
        <div class="column"></div>
    </div>
</footer>