<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% tr Automatic Dataset Generation %}</title>
    <meta name="title" content="{% tr Automatic Dataset Generation %}">
    <meta name="description"
        content="{% tr Let AI automatically generate your datasets and easily train/fine-tune your next natural language processing model in a minute. Datasets can be generated in multiple languages. %}">
    <meta name="keywords"
        content="{% tr text understanding api %},{% tr  text generation api %}, nlp {% tr api %}, {% tr inference api %}, {% tr ai api %}, {% tr artificial intelligence api %}, {% tr blog post generation api %}, {% tr product description api %}, {% tr ad generation api %}, {% tr named entity recognition api %}, ner {% tr api %}, {% tr sentiment analysis api %}, {% tr emotion analysis api %}, {% tr summarization api %}, {% tr text classification api %}, {% tr translation api %}, {% tr text generation api %}, {% tr grammar and spelling correction api %}, {% tr intent classification api %}, {% tr paraphrasing api %}, {% tr code generation api %}, {% tr chatbot %}, {% tr conversational AI %}, {% tr semantic similarity api %}, {% tr language detection api %}, Part-Of-Speech tagging {% tr api %}, {% tr tokenization api %}, l{% tr emmatization api %}, {% tr embeddings api %}, {% tr deploy %} nlp {% tr production %}, {% tr deploy %} spacy {% tr production %}, {% tr deploy %} transformers {% tr production %}, {% tr fine-tuning %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://autodataset.com/">
    <meta property="og:title" content="{% tr Automatic Dataset Generation %}">
    <meta property="og:description"
        content="{% tr Let AI automatically generate your datasets and easily train/fine-tune your next natural language processing model in a minute. Datasets can be generated in multiple languages. %}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://autodataset.com/">
    <meta property="twitter:site" content="@cloud_nlp">
    <meta property="twitter:title" content="{% tr Automatic Dataset Generation %}">
    <meta property="twitter:description"
        content="{% tr Let AI automatically generate your datasets and easily train/fine-tune your next natural language processing model in a minute. Datasets can be generated in multiple languages. %}">
    <link rel="stylesheet" href="/assets/css/bulma-v0.9.1.min.css">
<link rel="icon" type="image/png" href="/assets/images/favicon.jpg" />

    <style>
        body {
            font-family: Helvetica, sans-serif;
        }
        h1, h2, h3 {
            color: #223901 !important;
        }

    </style>
</head>

<body>
    {{ nav }}
    <section class="hero is-medium" style="
    background-image: url('/assets/images/chinese_letters.png'), url('/assets/images/circuit.png'); 
    background-size: 8%, 8%;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1 is-spaced">
                    {% tr Automatic Dataset Generation %}
                </h1>
                <div id="title-to-type" style="display:none">
                    <p>{% tr for product description and ad generation, %}</p>
                    <p>{% tr for entity extraction, %}</p>
                    <p>{% tr for blog post generation, %}</p>
                    <p>{% tr for text classification, %}</p>
                    <p>{% tr for sentiment and emotion analysis, %}</p>
                    <p>{% tr for text summarization, %}</p>
                    <p>{% tr for question answering, %}</p>
                    <p>{% tr for text generation, %}</p>
                    <p>{% tr for headline generation, %}</p>
                    <p>{% tr for chatbots/conversational AI, %}</p>
                    <p>{% tr for code generation, %}</p>
                    <p>{% tr for translation, %}</p>
                    <p>{% tr for language detection, %}</p>
                    <p>{% tr for grammar and spelling correction, %}</p>
                    <p>{% tr for intent classification, %}</p>
                    <p>{% tr for semantic similarity, %}</p>
                </div>
                <p id="subtitle" class="subtitle is-3 mt-5">{% tr Let AI generate your datasets, %}<br>
                    <span id="typed-title"></span><br>
                    {% tr in many languages. %}<br>
                    {% tr Create your next Natural Language Processing model in no time. %}<br>
            </div>
        </div>
    </section>
    <section>
        <div class="container has-text-centered mb-6 px-3">
            <div class="columns">
                <div class="column">
                    <img src="/assets/images/shipping.svg">
                    <h3 class="title is-5">{% tr Save Time %}</h3>
                    <p>{% tr Dataset creation for natural language processing is long and tedious. Stop wasting time and let our AI generate them. %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/lightning.svg">
                    <h3 class="title is-5">{% tr Extremely Accurate %}</h3>
                    <p>{% tr Our AI is very good at creating accurate datasets that perfectly match your use case (question answering, summarization, conversations, and more...) %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/flag.svg">
                    <h3 class="title is-5">{% tr Multilingual %}</h3>
                    <p>{% tr Generate your dataset in more than 20 languages with an excellent quality. %}</p>
                </div>
            </div>
            <div class="columns mt-6">
                <div class="column">
                    <img src="/assets/images/scale.svg">
                    <h3 class="title is-5">{% tr Fast %}</h3>
                    <p>{% tr The dataset generation is fast. For a human it would be a matter of weeks or months while here it's a matter of minutes or hours. %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/rocket.svg">
                    <h3 class="title is-5">{% tr Affordable Pricing %}</h3>
                    <p>
                        {% tr Our pricing is fair. This boring task doesn't have to be done by humans anymore %}
                    </p>
                </div>
                <div class="column">
                    <img src="/assets/images/cube.svg">
                    <h3 class="title is-5">{% tr Assess First %}</h3>
                    <p>
                        {% tr You can first assess the first examples in the dataset and decide to pay and download the final dataset once you're convinced. %}
                    </p>
                </div>
            </div>
        </div>
    </section>

    
    <section class="hero" id="use-case" style="background-color: #f6f5f5;">
        <div class="hero-body">
            <div class="container mt-4 is-size-7-mobile">
                <h3 class="title mb-6 is-5 has-text-centered">{% tr Supported Use Cases %}</h3>
                <table class="table" style="margin-left:auto; margin-right:auto; background:none">
                    <thead>
                        <tr>
                            <th>{% tr Use Case %}</th>
                            <th>{% tr Multlilingual? %}</th>
                            <th class="see-docs-col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% tr Blog
                                        Post Generation %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Text Classification %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Chatbots / Conversational AI %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Grammar and Spelling Correction %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Headline Generation %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Intent Classification %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Keywords and Keyphrases extraction %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Language Detection %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Named Entity Recognition %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Paraphrasing %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Product Description and ad generation %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Question Answering %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Semantic Similarity %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Sentiment and Emotion analysis %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Summarization %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Text Generation %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Translation %}</b>
                            </td>
                            <td>{% tr Yes %}</td>
                        </tr>
                       

                        </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="hero" id="access">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p>
                    {% tr Get early access to Auto Dataset by sending us an email: %}
                </p>
                <p class=" mt-5"><a class="is-size-2" style="color:#223901"
                    href="mailto:support@autodataset.com">access@autodataset.com</a></p>
                <p class="mt-6"><img width=800px src="/assets/images/ui.png"></p>
        </div>
    </section>

    
    {{ footer }}
    <script src="/assets/js/init-typed.js" async></script>
</body>

</html>