<footer class="footer" style="background-color: #f6f5f5">
    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <a class="navbar-item" href="#use-case">
                <b>{% tr Casos de uso %}</b>
            </a>
        </div>
        <div class="column">
            <a class="navbar-item" href="#access">
                <b>{% tr Contacte con %}</b>
            </a>
        </div>


        <div class="column">
            <a class="navbar-item" href="tos.html"><b>{% tr Términos y condiciones %}</b></a>
        </div>
        <div class="column">
            <a class="navbar-item" href="privacy.html"><b>{% tr Política de privacidad %}</b></a>
        </div>
        <div class="column"></div>
    </div>
</footer>