<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% tr Samodejno ustvarjanje nabora podatkov %}</title>
    <meta name="title" content="{% tr Samodejno ustvarjanje nabora podatkov %}">
    <meta name="description"
        content="{% tr Pustite umetni inteligenci, da samodejno ustvari nabore podatkov, in v minuti preprosto usposobite/izpopolnite svoj naslednji model za obdelavo naravnega jezika. Zbirke podatkov lahko ustvarite v več jezikih. %}">
    <meta name="keywords"
        content="{% tr API za razumevanje besedila %},{% tr  api za generiranje besedila %}, nlp {% tr api %}, {% tr vmesnik za sklepanje %}, {% tr ai api %}, {% tr api za umetno inteligenco %}, {% tr api za generiranje objav v blogu %}, {% tr api za opis izdelka %}, {% tr API za generiranje oglasov %}, {% tr api za prepoznavanje poimenovanih entitet %}, ner {% tr api %}, {% tr api za analizo čustev %}, {% tr api za analizo čustev %}, {% tr api za povzemanje %}, {% tr API za razvrščanje besedil %}, {% tr prevajalski vmesnik %}, {% tr api za generiranje besedila %}, {% tr API za popravljanje slovnice in pravopisa %}, {% tr api za razvrščanje namenov %}, {% tr api za parafraziranje %}, {% tr api za generiranje kode %}, {% tr klepetalni robot %}, {% tr pogovorna umetna inteligenca %}, {% tr api za semantično podobnost %}, {% tr vmesnik za zaznavanje jezika %}, Part-Of-Speech tagging {% tr api %}, {% tr api za tokenizacijo %}, l{% tr emmatizacijski api %}, {% tr vgradnje api %}, {% tr uvajanje %} nlp {% tr proizvodnja %}, {% tr uvajanje %} spacy {% tr proizvodnja %}, {% tr uvajanje %} transformers {% tr proizvodnja %}, {% tr natančna nastavitev %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://autodataset.com/">
    <meta property="og:title" content="{% tr Samodejno ustvarjanje nabora podatkov %}">
    <meta property="og:description"
        content="{% tr Pustite umetni inteligenci, da samodejno ustvari nabore podatkov, in v minuti preprosto usposobite/izpopolnite svoj naslednji model za obdelavo naravnega jezika. Zbirke podatkov lahko ustvarite v več jezikih. %}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://autodataset.com/">
    <meta property="twitter:site" content="@cloud_nlp">
    <meta property="twitter:title" content="{% tr Samodejno ustvarjanje nabora podatkov %}">
    <meta property="twitter:description"
        content="{% tr Pustite umetni inteligenci, da samodejno ustvari nabore podatkov, in v minuti preprosto usposobite/izpopolnite svoj naslednji model za obdelavo naravnega jezika. Zbirke podatkov lahko ustvarite v več jezikih. %}">
    <link rel="stylesheet" href="/assets/css/bulma-v0.9.1.min.css">
<link rel="icon" type="image/png" href="/assets/images/favicon.jpg" />

    <style>
        body {
            font-family: Helvetica, sans-serif;
        }
        h1, h2, h3 {
            color: #223901 !important;
        }

    </style>
</head>

<body>
    {{ nav }}
    <section class="hero is-medium" style="
    background-image: url('/assets/images/chinese_letters.png'), url('/assets/images/circuit.png'); 
    background-size: 8%, 8%;
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;">
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title is-1 is-spaced">
                    {% tr Samodejno ustvarjanje nabora podatkov %}
                </h1>
                <div id="title-to-type" style="display:none">
                    <p>{% tr za opis izdelkov in ustvarjanje oglasov, %}</p>
                    <p>{% tr za ekstrakcijo entitet, %}</p>
                    <p>{% tr za ustvarjanje prispevkov v blogu, %}</p>
                    <p>{% tr za razvrščanje besedil, %}</p>
                    <p>{% tr za analizo občutkov in čustev, %}</p>
                    <p>{% tr za povzemanje besedila, %}</p>
                    <p>{% tr za odgovarjanje na vprašanja, %}</p>
                    <p>{% tr za ustvarjanje besedila, %}</p>
                    <p>{% tr za ustvarjanje naslovov, %}</p>
                    <p>{% tr za klepetalne robote/konverzacijsko umetno inteligenco, %}</p>
                    <p>{% tr za generiranje kode, %}</p>
                    <p>{% tr za prevajanje, %}</p>
                    <p>{% tr za odkrivanje jezika, %}</p>
                    <p>{% tr za slovnični in pravopisni popravek, %}</p>
                    <p>{% tr za razvrstitev namere, %}</p>
                    <p>{% tr za semantično podobnost, %}</p>
                </div>
                <p id="subtitle" class="subtitle is-3 mt-5">{% tr Pustite umetni inteligenci, da ustvari vaše nabore podatkov, %}<br>
                    <span id="typed-title"></span><br>
                    {% tr v številnih jezikih. %}<br>
                    {% tr Ustvarite svoj naslednji model obdelave naravnega jezika v kratkem času. %}<br>
            </div>
        </div>
    </section>
    <section>
        <div class="container has-text-centered mb-6 px-3">
            <div class="columns">
                <div class="column">
                    <img src="/assets/images/shipping.svg">
                    <h3 class="title is-5">{% tr Prihranite čas %}</h3>
                    <p>{% tr Ustvarjanje podatkovnih nizov za obdelavo naravnega jezika je dolgotrajno in zamudno. Ne zapravljajte časa in pustite naši umetni inteligenci, da jih ustvari. %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/lightning.svg">
                    <h3 class="title is-5">{% tr Izjemno natančno %}</h3>
                    <p>{% tr Naša umetna inteligenca je zelo dobra pri ustvarjanju natančnih podatkovnih nizov, ki popolnoma ustrezajo vašemu primeru uporabe (odgovarjanje na vprašanja, povzemanje, pogovori in drugo...) %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/flag.svg">
                    <h3 class="title is-5">{% tr Večjezični %}</h3>
                    <p>{% tr Ustvarite nabor podatkov v več kot 20 jezikih z odlično kakovostjo. %}</p>
                </div>
            </div>
            <div class="columns mt-6">
                <div class="column">
                    <img src="/assets/images/scale.svg">
                    <h3 class="title is-5">{% tr Hitro %}</h3>
                    <p>{% tr Generiranje nabora podatkov je hitro. Pri človeku bi to trajalo več tednov ali mesecev, pri nas pa nekaj minut ali ur. %}</p>
                </div>
                <div class="column">
                    <img src="/assets/images/rocket.svg">
                    <h3 class="title is-5">{% tr Cenovno ugodne cene %}</h3>
                    <p>
                        {% tr Naše cene so poštene. Te dolgočasne naloge ni treba več opravljati ljudem %}
                    </p>
                </div>
                <div class="column">
                    <img src="/assets/images/cube.svg">
                    <h3 class="title is-5">{% tr Najprej ocenite %}</h3>
                    <p>
                        {% tr Najprej lahko ocenite prve primere iz nabora podatkov in se odločite za plačilo in prenos končnega nabora podatkov, ko ste prepričani. %}
                    </p>
                </div>
            </div>
        </div>
    </section>

    
    <section class="hero" id="use-case" style="background-color: #f6f5f5;">
        <div class="hero-body">
            <div class="container mt-4 is-size-7-mobile">
                <h3 class="title mb-6 is-5 has-text-centered">{% tr Podprti primeri uporabe %}</h3>
                <table class="table" style="margin-left:auto; margin-right:auto; background:none">
                    <thead>
                        <tr>
                            <th>{% tr Primer uporabe %}</th>
                            <th>{% tr Večjezičnost? %}</th>
                            <th class="see-docs-col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% tr Blog
                                        Objava Generacija: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Razvrstitev besedila: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Klepetalni roboti / konverzacijska umetna inteligenca: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Popravljanje slovnice in pravopisa: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Ustvarjanje naslovov: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Razvrstitev namena: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Pridobivanje ključnih besed in ključnih fraz: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Zaznavanje jezika: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Prepoznavanje poimenovanih entitet: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Parafraziranje: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Opis izdelka in ustvarjanje oglasov: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Odgovarjanje na vprašanja: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Semantična podobnost: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Analiza razpoloženja in čustev: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Povzetek: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Ustvarjanje besedila: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                        <tr>
                            <td>{% tr Prevod: %}</b>
                            </td>
                            <td>{% tr Da %}</td>
                        </tr>
                       

                        </tbody>
                </table>
            </div>
        </div>
    </section>
    <section class="hero" id="access">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p>
                    {% tr Pridobite zgodnji dostop do zbirke podatkov Auto Dataset tako, da nam pošljete e-poštno sporočilo: %}
                </p>
                <p class=" mt-5"><a class="is-size-2" style="color:#223901"
                    href="mailto:support@autodataset.com">access@autodataset.com</a></p>
                <p class="mt-6"><img width=800px src="/assets/images/ui.png"></p>
        </div>
    </section>

    
    {{ footer }}
    <script src="/assets/js/init-typed.js" async></script>
</body>

</html>