<footer class="footer" style="background-color: #f6f5f5">
    <div class="columns">
        <div class="column"></div>
        <div class="column">
            <a class="navbar-item" href="#use-case">
                <b>{% tr Primeri uporabe %}</b>
            </a>
        </div>
        <div class="column">
            <a class="navbar-item" href="#access">
                <b>{% tr Pišite na %}</b>
            </a>
        </div>


        <div class="column">
            <a class="navbar-item" href="tos.html"><b>{% tr Pogoji in določila %}</b></a>
        </div>
        <div class="column">
            <a class="navbar-item" href="privacy.html"><b>{% tr Pravilnik o zasebnosti %}</b></a>
        </div>
        <div class="column"></div>
    </div>
</footer>